body {
    background-color: #94b671;
    max-width: 500px;
    margin: auto;
    padding: 10px;

}

hr {
    border-style: dotted none none;
    border-radius: 20%;
    border-color: antiquewhite;
    border-right: 10%;
    size: 3px;
    background-color: rgb(137, 192, 19);
    height: 1px;
    width: 60%;

}

img {
    width: 100px;
    height: 20%;
    border-radius: 100%;

}